{% extends "::back-layout.html.twig" %}

{% block title %}Création d'un article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.7.5/css/froala_editor.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Ajouter un article</h4>
        </div>
        <div class="panel-body">

           {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group row">
                <div class="fr-view">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.title, 'Titre ') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control' } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.subject, 'Sujet') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.subject, { 'attr' : { 'class' : 'form-control' } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.auteur, 'Auteur') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.auteur) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.category, 'Catégorie') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.category, { 'attr' : { 'class' : 'form-control ' } }) }}
                </div>
            </div>
            <div class="form-group row fr-view">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.content, 'Contenu ') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.content, { 'attr' : { 'class' : 'form-control' } }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.src, 'Source') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.src, { 'attr' : { 'class' : 'form-control' } }) }}
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.date, 'Date') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.date) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 control-label">
                    {{ form_label(form.image, 'Image') }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.image.file) }}
                </div>
            </div>
            <button class="btn btn-secondary">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.7.5/js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.7.5/js/froala_editor.pkgd.min.js') }}"></script>
    {#<script>#}
        {#$(function() {#}
            {#$('.fr-view input').froalaEditor({toolbarInline: true})#}
        {#});#}
    {#</script>#}
{% endblock %}