{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/owl-carousel/owl.carousel.css') }}">
{% endblock %}



{% block main %}
    <section class="colorSection full-width clearfix bg-color-5 teamSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sectionTitle text-center alt">
                        <h2>
                            <span class="shape shape-left bg-color-3"></span>
                            <span>Teachers</span>
                            <span class="shape shape-right bg-color-3"></span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel teamSlider">
                            {% for teacher in teachers %}
                                <div class="slide">
                                <div class="teamContent">
                                    <div class="teamImage">
                                        {% if teacher.photo != null %}
                                            <img height="150" src="{{ asset(teacher.photo.webpath)}}" class="img-circle">
                                        {% endif %}
                                        <div class="maskingContent">
                                            <ul class="list-inline">
                                                <li><a href="{{ asset(teacher.linefb)}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="teamInfo">

                                        <h3><i class="fa fa-pencil color-6"></i><a href=""> <tr>{{  teacher.name}}</h3>
                                    </div>

                                    <br></br>

                                    <h3><a href="{{ path('about_teacher', {'id':teacher.id}) }}">about me</a></h3>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
{% endblock %}
