{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.7.5/css/froala_editor.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
    {% block main %}

    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2>Détails de l'adresse</h2>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Détails de l'adresse</li>
                </ol>
            </div>
        </div>
    </section>




    <section class="mainContent full-width clearfix">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-8 col-xs-12 block pull-right">
                    <div class="thumbnail thumbnailContent">


                        {% if address.image != null %}
                            <img src="{{ asset(address.image.webPath) }}" alt="image" class="img-responsive">
                        {% endif %}
                        {#<div class="sticker-round bg-color-1">10 <br>July</div>#}
                        <div class="caption border-color-1 singleBlog">
                            <h3 class="color-1"></h3>
                            <ul class="list-inline blogInfo">
                                <li><i class="fa fa-user" aria-hidden="true"></i>Jone Doe</li>
                                <li><i class="fa fa-comments-o" aria-hidden="true"></i>4 Comments </li>
                            </ul>
                            <p>{{ address.description | raw }}</p>


                            <ul class="list-inline socailLink">
                                <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12">



                            <div class="mapArea areaPadding" id="map">
                            </div>


                        </div>
                    </div>

                    {#<div class="blogComments">#}
                        {#<h3>3 Comments</h3>#}
                        {#<ul class="media-list commentsList">#}
                            {#<li class="media">#}
                                {#<div class="media-left">#}
                                    {#<img src="img/blog/blog-1.jpg" alt="image" class="img-circle">#}
                                {#</div>#}
                                {#<div class="media-body">#}
                                    {#<h4 class="media-heading">Sarah Smith</h4>#}
                                    {#<p>July 7, 2016</p>#}
                                    {#<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>#}
                                    {#<a href="#" class="btn btn-primary"><i class="fa fa-reply-all" aria-hidden="true"></i>Reply</a>#}
                                {#</div>#}
                            {#</li>#}



                        {#</ul>#}
                    {#</div>#}

                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                    <aside>

                        <div class="panel panel-default courseSidebar">
                            <div class="panel-heading bg-color-2 border-color-2">
                                <h3 class="panel-title">Categories</h3>
                            </div>
                            <div class="panel-body">
                                {% for categorie in categories %}
                                <ul class="list-unstyled categoryItem">
                                    <li><a href="{{ path('categories_addresses',{'category':categorie.name}) }}" >{{ categorie.name }}</a></li>
                                    {% endfor %}
                                    {#blaset lcategorie#}

                                </ul>
                            </div>
                        </div>




                    </aside>
                </div>

            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:{{ Latitudes }}, lng: {{ Longitudes}} },
                zoom: 18
            });
        }
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAyWhu-BB9lH04JB4TX4wFrcDUOLoLxO8
&callback=initMap"
            async defer></script>
    <script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.7.5/js/froala_editor.min.js') }}"></script>
    <script>
        $(function() {
            $('.fr-view input').froalaEditor({toolbarInline: true})
        });
    </script>
{% endblock %}