<li class="active">
    <a href="{{ path('admin_homepage') }}">
        <i class="icon-gauge"></i><span class="title">Dashboard</span>
    </a>
</li>
<li class="has-sub">
    <a href="{{ path('users_list') }}">
        <i class="fa fa-users"></i><span class="title">Gestion des membres</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('users_list') }}">
                <span class="title">Liste des utilisateurs</span>
            </a>
        </li>
        <li>
            <a href="{{ path('users_add') }}">
                <span class="title">Ajouter un utilisateur</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ path('games_list') }}">
        <i class="fa fa-gamepad"></i><span class="title">Jeux</span>
    </a>
</li>
<li>
    <a href="{{ path('read') }}">
        <i class="fa fa-book"></i><span class="title">Articles</span>

    </a>
</li>
<li class="has-sub">
    <a href="{{ path('read_babysitter') }}">
        <i class="fa fa-female"></i><span class="title">Babysitters</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('read_babysitter') }}">
                <span class="title">Liste des babysitters</span>
            </a>
        </li>
        <li>
            <a href="{{ path('create_babysitter') }}">
                <span class="title">Ajouter un(e) Babysitter</span>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="{{ path('read_address') }}">
        <i class="fa fa-map-marker"></i><span class="title">Adresses utiles</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('read_address') }}">
                <span class="title">Liste des adresses</span>
            </a>
        </li>
        <li>
            <a href="{{ path('create_address') }}">
                <span class="title">Ajouter une adresse</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ path('read_complaint') }}">

        <i class="fa fa-legal"></i><span class="title">Complaints</span>

    </a>
</li>

<li>
    <a href="{{ path('discutea_forum_admin_dashboard') }}">
        <i class="fa fa-comments-o"></i><span class="title">Forum</span>
    </a>
</li>

<ul id="side-nav" class="main-menu navbar-collapse collapse">
    <li class="fe feed-element"><a><i class="fa fa-users"></i><span class="title">espace prof</span></a>
        <ul class="nav collapse">
            <li><a href="{{ path('teacher_add') }}"><span class="title">ajouter prof</span></a></li>
            <li><a href="{{ path('subject_add') }}"><span class="title">ajouter matiere</span></a></li>

            <li><a href="{{ path('read_teachers1') }}"><span class="title">delete</span></a></li>
        </ul>
    </li>
    <li class="has-sub"><a><i class="fa fa-users"></i><span class="title">espace media </span></a>
        <ul class="nav collapse">
            <li><a href="{{ path('video_add') }}"><span class="title">ajouter  video</span></a></li>
        </ul>
    </li>
</ul>
