<li class="active">
    <a href="{{ path('admin_homepage') }}">
        <i class="icon-gauge"></i><span class="title">Dashboard</span>
    </a>
</li>
<li class="has-sub">
    <a href="{{ path('users_list') }}">
        <i class="fa fa-users"></i><span class="title">Gestion des membres</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('users_list') }}">
                <span class="title">Liste des utilisateurs</span>
            </a>
        </li>
        <li>
            <a href="{{ path('users_add') }}">
                <span class="title">Ajouter un utilisateur</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ path('games_list') }}">
        <i class="fa fa-gamepad"></i><span class="title">Jeux</span>
    </a>
</li>
<li>
    <a href="{{ path('cartoon_list') }}">
        <i class="fa fa-gamepad"></i><span class="title">Dessins animés</span>
    </a>
</li>
<li>
    <a href="{{ path('songs_list') }}">
        <i class="fa fa-music"></i><span class="title">Musique</span>
    </a>
</li>
<li>
    <a href="{{ path('read') }}">
        <i class="fa fa-book"></i><span class="title">Articles</span>

    </a>
</li>
<li class="has-sub">
    <a href="{{ path('read_babysitter') }}">
        <i class="fa fa-female"></i><span class="title">Babysitters</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('read_babysitter') }}">
                <span class="title">Liste des babysitters</span>
            </a>
        </li>
        <li>
            <a href="{{ path('create_babysitter') }}">
                <span class="title">Ajouter un(e) Babysitter</span>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a href="{{ path('read_address') }}">
        <i class="fa fa-map-marker"></i><span class="title">Adresses utiles</span>
    </a>
    <ul class="nav collapse">
        <li>
            <a href="{{ path('read_address') }}">
                <span class="title">Liste des adresses</span>
            </a>
        </li>
        <li>
            <a href="{{ path('create_address') }}">
                <span class="title">Ajouter une adresse</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ path('read_complaint') }}">

        <i class="fa fa-legal"></i><span class="title">Complaints</span>

    </a>
</li>

{#<li>#}
    {#<a href="{{ path('discutea_forum_admin_dashboard') }}">#}
        {#<i class="fa fa-comments-o"></i><span class="title">Forum</span>#}
    {#</a>#}
{#</li>#}

<li>
    <a><i class="fa fa-graduation-cap"></i><span class="title">Enseignants</span></a>
    <ul class="nav collapse">
        <li><a href="{{ path('list_teachers') }}"><span class="title">Liste des enseignants</span></a></li>
        <li><a href="{{ path('teacher_add') }}"><span class="title">Ajouter un enseignant</span></a></li>
    </ul>
</li>
<li>
    <a><i class="fa fa-university"></i><span class="title">Ecoles</span></a>
    <ul class="nav collapse">
        <li><a href="{{ path('read_school') }}"><span class="title">Liste des écoles</span></a></li>
        <li><a href="{{ path('school_add') }}"><span class="title">Ajouter une ecole</span></a></li>
    </ul>
</li>
<li class="has-sub"><a><i class="fa fa-youtube"></i><span class="title">Cours et tutos</span></a>
    <ul class="nav collapse">
        <li><a href="{{ path('video_read') }}"><span class="title">Liste des videos</span></a></li>
        <li><a href="{{ path('video_add') }}"><span class="title">Ajouter un video</span></a></li>
    </ul>
</li>
<li class="has-sub"><a><i class="fa fa-calendar-o"></i><span class="title">Evénements</span></a>
    <ul class="nav collapse">
        <li><a href="{{ path('events_list') }}"><span class="title">Liste des évenements</span></a></li>
        <li><a href="{{ path('add_event') }}"><span class="title">Ajouter un évenement</span></a></li>
    </ul>
</li>
<li class="has-sub"><a><i class="fa fa-question"></i><span class="title">Quiz</span></a>
    <ul class="nav collapse">
        <li><a href="{{ path('quizes_list') }}"><span class="title">Liste des quizes</span></a></li>
        <li><a href="{{ path('quizes_add') }}"><span class="title">Ajouter un quiz</span></a></li>
    </ul>
</li>
