{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/isotope/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/isotope/isotope.css') }}">
{% endblock %}

{% block main %}

    <section class="mainContent full-width clearfix homeGallerySection">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter">
                            <li class="active"><a href="#" data-filter="*">View All</a></li>
                            {% for subject in subjects %}
                                <li class="active">
                                    <a href="#" data-filter=".{{ subject.name | lower }}">{{ subject.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row isotopeContainer" id="container">
                {% for video in videos %}
                    <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector {{ video.subject.name }}">
                        <article class="">
                            <figure>
                                <iframe width="560" height="315" class="img-rounded" src="{{ video.url }}"
                                        frameborder="0"></iframe>
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                    <div class="overlay">
                                        <a class="fancybox-pop" rel="portfolio-1">
                                            <iframe width="560" height="315" src="{{ video.url }}"
                                                    frameborder="0" class="fullscreen"></iframe>
                                            <i style="z-index: 200" class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/isotope/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ asset('plugins/isotope/isotope-triger.js') }}"></script>

{% endblock %}


