<a class="bg-color-6 shop-cart" data-toggle="dropdown" id="cart-toggle">
    <i class="fa fa-shopping-basket " aria-hidden="true"></i>
    <span class="badge bg-color-1">{{ count }}</span>
</a>
<ul id="cart-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="cart-toggle">
    <li>
        <a href="{{ path('cart_show') }}">
            {% if count == 0 %}
                Aucun article dans votre panier
            {% elseif count == 1 %}
                1 article dans votre panier
            {% else %}
                {{ count }} articles dans votre panier
            {% endif %}
        </a>
    </li>
    {% set totalHT = 0 %}
    {% for product in products %}
        <li>
            <a href="{{ path('product_details', {'id' : product.id}) }}">
                <div class="media">
                    <div class="media-left">
                        <img src="{{ asset(product.img.webPath)  }}" alt="cart-Image">
                    </div>
                    <div class="media-body">
                        <h4>{{ product.name }}</h4>
                        <div class="price">
                            <span class="color-1">{{ product.price }}</span>
                        </div>
                    </div>
                </div>
            </a>
            <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
        </li>
        {% set totalHT = totalHT + (product.price * cart[product.id]) %}
    {% endfor %}
    <li>
        <span class="cart-price">{{ totalHT }} DT</span>
        <div class="cart-button">
            <a href="{{ path('shipping') }}" class="btn btn-primary">Checkout</a>
            <a href="{{ path('cart_show') }}" class="btn btn-primary">View Cart</a>
        </div>
    </li>
</ul>
