{% extends '::layout.html.twig' %}
{% set totalHT = 0 %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/owl-carousel/owl.carousel.css') }}" media="screen"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block main %}
    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2>Boutique</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Acceuil</a></li>
                    <li class="active">Mon panier</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="mainContent full-width clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cartInfo">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="bg-color-1 text-center">
                                        <th class="col-lg-1 col-xs-2">
                                        </th>
                                        <th class="col-lg-1 col-xs-2">
                                            Image
                                        </th>
                                        <th class="col-lg-4 col-xs-3">Product Name</th>
                                        <th class="col-lg-2 col-xs-2">Prix</th>
                                        <th class="col-lg-2 col-xs-2">Quantity</th>
                                        <th class="col-lg-2 col-xs-2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if products | length == 0 %}
                                    <tr>
                                        <td colspan="6">
                                            <center>Aucun articles dans votre panier</center>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for product in products %}
                                        <tr>
                                            <td class="col-lg-1 col-xs-2">
                                                <a href="{{ path('cart_delete', {'id':product.id}) }}" class="btn btn-sm btn-outline-primary">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td class="col-lg-1 col-xs-2">
                                                <img src="{{ asset(product.img.webPath) }}"
                                                    width="70" height="100" alt="image" class="img-rounded">
                                            </td>

                                            <td class="col-lg-4 col-xs-3"> {{ product.name }} </td>
                                            <td class="col-lg-2 col-xs-2">{{ product.price }} DT</td>
                                            <td class="col-lg-2 col-xs-2">
                                                <form action="{{ path('cart_add', { 'id' : product.id }) }}" method="get">
                                                <input name="qte" type="number" min="1" onChange="this.form.submit()" value="{{ cart[product.id] }}">
                                            <td class="col-lg-2 col-xs-2 price">{{ product.price * cart[product.id] }} DT
                                            </td>
                                            {% set totalHT = totalHT + (product.price * cart[product.id]) %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="J'ai un bon de reduction" aria-describedby="basic-addon2">
                                                <a href="#" class="btn btn-primary input-group-addon" id="basic-addon2">Utiliser</a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{{ path('products') }}" class="btn btn-primary pull-right">Continuer mes achats</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# <form action="{{ path('shipping') }}"> #}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 col-xs-12">
                        <div class="cartInfo cartTotal">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="bg-color-2">
                                            <th style="padding-left: 30px">Total du panier</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-6">
                                            <strong>Total</strong>
                                            </td>
                                            <td class="col-xs-6">{{ totalHT }} DT</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="btnPart">
                                                <a href="{{ path('shipping') }}" type="submit" class="btn btn-primary pull-right"> 
                                                    checkout<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {# </form> #}
        </div>
    </section>

{% endblock %}
