{% if products | length > 0 %}
    {% for row in products | batch(4) %}
        <div class="row">
            {% for product in row %}
                {% set color = random(5)+1 %}
                <div data-price="{{ product.price }}" data-age="{{product.age}}" data-gender="{{product.gender}}" class="col-md-3 col-xs-6 price">
                    <div class="box bg-color-{{ color }}">
                        <div class="box-img border-color-{{ color }} text-center">
                            <a href="{{ path('product_details', {'id':product.id}) }}">
                                <img src="{{ asset(product.img.webPath) }}" alt="image" class="img-responsive">
                            </a>
                            <a data-toggle="modal" href=".quick-view" class="btn-block"><i class="fa fa-eye" aria-hidden="true"></i>Quick View</a>
                        </div>
                        <div class="box-info">
                            <h4>{{ product.name }}</h4>
                            <div class="price">
                                <span >{{ product.price }} DT </span>
                            </div>
                            {% if cart[product.id] is not defined %}
                                <a href="{{ path('cart_add',{'id':product.id}) }}" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <div class="row schoolInfo text-center">
        <h2 class="color-4">Aucune résultat trouvée</h2>
    </div>
{% endif %}