{% extends "layout.html.twig" %}
{% block main %}
    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2>Réclamation</h2>
                <ol class="breadcrumb">
                    <li><a href="/KODproject/web/app_dev.php/">Accueil</a></li>
                    <li class="active">Réclamation</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="mainContent full-width clearfix conactSection">
    <div class="container">
<center><h2 class="color-4">Liste des réclamations</h2></center>
<a class="table-responsive">
    <table class="table table-curved">
        <thead>
        <tr>
            <th class="col-sm-2 bg-color-1">Date <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
            <th class="col-sm-2 bg-color-2">Sujet</th>
            <th class="col-sm-2 bg-color-3">Catégorie</th>
            <th class="col-sm-2 bg-color-4">Contenu</th>
            <th class="col-sm-2 bg-color-5">Etat</th>

        </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
        <tr>
            <td>{{ complaint.date|date }}</td>
            <td>
                <span class="color-3">{{ complaint.subject }}</span>
            </td>

            <td>
                <span class="color-5">{{ complaint.category.name }}</span>

            </td>
            <td>
                <span class="color-5">{{ complaint.description }}</span>

            </td>
            <td>
                <span class="color-5">{{ complaint.state }}</span>

            </td>

        </tr>
        </tbody>
        {% endfor %}

    </table>
    <a href="{{ path('create_complaint') }}" <button type="button" class="btn btn-xl btn-primary col-md-offset-4 ">Rédiger une nouvelle réclamation</button></a>

</div>
    </div>

    </section>


{% endblock %}