{% extends "layout.html.twig" %}

{% block main %}
    <section class="mainContent full-width clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sectionTitle text-center">
                        <h2>
                            <span class="shape shape-left bg-color-4"></span>
                            <span>Activité</span>
                            <span class="shape shape-right bg-color-4"></span>
                        </h2>
                    </div>
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div id="div_chart"></div>#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-xs-6">
                    <div class="tabCommon">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#games">Jeux</a></li>
                            <li><a data-toggle="tab" href="#music">Musique</a></li>
                            <li><a data-toggle="tab" href="#menu3">Dessins Animés</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="games" class="tab-pane fade in active" style="border: none">
                                {% for play in plays %}
                                    <div class="media courseList couresListPage">
                                        <a class="media-left">
                                            {% if play.game.icon != null %}
                                                <img height="177" style="max-width: 177px" class="media-object" src="{{ asset(play.game.icon.webPath) }}">
                                            {% else %}
                                                <img height="177" style="max-width: 177px" src="{{ asset('img/default_game.png') }}">
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <div class="col-md-9" style="padding: 20px;">
                                                <h3 class="media-heading color-1" style="padding-top: 15px">{{ play.game.name }}</h3>
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Joué le :  {{ play.date | date('y F d') }}</li>
                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Duration :  {{ play.duration | date('i:s') }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 text-center" style="padding: 50px 0;">
                                                {% if play.game.id in child.blockedG  %}
                                                    <a href="{{ path('block_game', {'cid' : child.id, 'gid' : play.game.id }) }}" style="background: white" class="btn btn-primary">
                                                        <i class="fa fa-unlock" style="margin: 0; padding: 0;"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('block_game', {'cid' : child.id, 'gid' : play.game.id }) }}" style="background: white" class="btn btn-outline-primary"><i class="fa fa-ban"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="music" class="tab-pane fade" style="border: none">
                                {% for listen in listenings %}
                                    <div class="media courseList couresListPage">
                                        <a class="media-left">
                                            {% if listen.music.photo != null %}
                                                <img height="177" style="max-width: 177px" class="media-object" src="{{ asset(listen.music.photo.webPath) }}">
                                            {% else %}
                                                <img height="177" style="max-width: 177px" src="{{ asset('img/music_default.jpg') }}">
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <div class="col-md-9" style="padding: 20px;">
                                                <h3 class="media-heading color-1" style="padding-top: 15px">{{ listen.music.title }}</h3>
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Ecouté le :  {{ listen.date | date('y F d') }}</li>
                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Durée :  {{ listen.duration | date('i:s') }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 text-center" style="padding: 50px 0;">
                                                {% if listen.music.id in child.blockedM  %}
                                                    <a href="{{ path('block_song', {'cid' : child.id, 'mid' : listen.music.id }) }}" style="background: white" class="btn btn-outline-primary">
                                                        <i class="fa fa-unlock" style="margin: 0; padding: 0;"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('block_song', {'cid' : child.id, 'mid' : listen.music.id }) }}" style="background: white" class="btn btn-outline-primary"><i class="fa fa-ban"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {#<div id="menu2" class="tab-pane fade">#}
                            {#</div>#}
                            {#<div id="menu3" class="tab-pane fade">#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
