{% extends "UserBundle:Admin:layout.html.twig" %}
{% block title %}Ajout ecole{% endblock %}

    {% block main %}
        <div class="row">
            <div >
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Ajouter ecole</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.schoolname, 'nom ecole') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.schoolname, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.address, 'address') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.address, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.mail, 'nom ecole') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.mail, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.schoolphone, 'school phone') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.schoolphone, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.Xschool, 'Xschool') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.Xschool, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.Yschool, 'Yschool') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.Yschool, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>


                        <button class="btn btn-dribbble" >Ajouter</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}

