{% extends 'layout.html.twig' %}
{% block kd_body %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/owl-carousel/owl.carousel.css') }}">
{% endblock %}

{% block main %}
<section class="mainContent full-width clearfix">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span>
                        <span>ecole ?</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>
        <ul class="schools" style="display: none;">
        {% for s in school %}
            <li>
                <span class="ln">{{ s.yschool }}</span>
                <span class="lt">{{ s.xschool }}</span>
            </li>
        {% endfor %}
        </ul>
         <div class="input-group searchArea">
          <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true" ></i></span>
          <input type="text" class="form-control in-recherche" placeholder="les écoles disponible dans notre site.. ">
          <button type="submit" id="recherche" class="input-group-addon button" id="basic-addon21">Search</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="tableau">

</table>
</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon">

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img class="media-object img-rounded" src="{{ asset('img/home/about-school.png') }}" alt="Image">
                                </a>
                                <div class="media-body">
                                    <div id="map-canvas" style="width: 500px;height: 400px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDElLlwgcP38R0KBO9jGW7uZfBrPMzyuso"
            type="text/javascript"></script>
    <script>
        var schools = [];
        $(function() {
            $.each($('.schools li'), function(i, val) {
                var lt = Number($(val).find('.lt').text());
                var ln = Number($(val).find('.ln').text());
                schools[i] = {
                    lat : lt,
                    lng : ln
                };
            } );

            $("#recherche").click(function () {
                $.ajax({
                    url : "{{ path('recherche_school') }}",
                    data : { 'schoolname' : $('.in-recherche').val() }
                }).done(function (response) {
                    $('.tableau').empty();
                    $('.tableau').append(response);
                });
            });


            initialize();
        })
        // var myCenter = new google.maps.LatLng(schools[0]);
        function initialize() {
            // var mapProp= {
            //     center: myCenter,
            //     zoom: 18,
            //     mapTypeId: google.maps.MapTypeId.ROADMAP
            // };
          var mapOptions = {
              center: {lat: 36.7948624, lng: 10.0732374},
              zoom: 12
          };
            var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
            for(var i = 0; i < schools.length; i++ ){
                console.log(schools[i]);
                var marker = new google.maps.Marker({
                    position: schools[i],
                    animation: google.maps.Animation.BOUNCE,
                    map : map
                });
            }
            /* var myLating = new google.maps.LatLng(-25.363882, 131.044922);
              var mapOptions = {
                  zoom: 4,
                  center: myLating
              }
             var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
     */
        }
        // google.maps.event.addDomListner(window,'load',initialize());

    </script>
{% endblock %}