{% extends 'layout.html.twig' %}

{% block main %}
    <section class="mainContent full-width clearfix">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sectionTitle text-center">
                        <h2>
                            <span class="shape shape-left bg-color-4"></span>
                            <span>Ecoles</span>
                            <span class="shape shape-right bg-color-4"></span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="input-group searchArea">
                <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" id="searchbox" class="form-control in-recherche" placeholder="Rechercher les écoles près de vous">
                <button type="submit" id="recherche" class="input-group-addon button">Search</button>
            </div>
            <div class="row">
                <div class="col-md-6" id="schools">
                        {#<img class="media-object img-rounded"#}
                             {#src="{{ asset('img/home/about-school.png') }}" alt="Image">#}
                </div>
                <div class="col-md-6">
                    <div id="map-canvas" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('plugins/owl-carousel/owl.carousel.js') }}"></script>
        <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
        <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdAbx4RX1_TxghFcm-rUOvt_3gipkD8nQ&libraries=places"></script>
        <script>
            var schools = [], autocomplete, selected = -1;
            var map;
            $(function () {

                $("#recherche").click(function () {
                    var place = autocomplete.getPlace();
                    var latitude = place.geometry.location.lat();
                    var longitude = place.geometry.location.lng();
                    $.ajax({
                        url: "{{ path('recherche_school') }}",
                        data: {
                            'lat': latitude,
                            'lng' : longitude
                        }
                    }).done(function (response) {
                        $('#schools').empty();
                        $('#schools').append(response);
                        for (var i = 0; i < schools.length; i++) {
                            schools[i].setMap(null);
                        }
                        schools = [];
                        $(response).find(".media").each(function () {
                            var pos = {
                                lat: Number($(this).find('.school-lat').text()),
                                lng: Number($(this).find('.school-lng').text())
                            };
                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                title: $(this).find(".media-heading").text()
                            });
                            schools.push(marker);
                        });
                        map.fitBounds(place.geometry.viewport);
                        map.setZoom(15);
                    });
                });

                initialize();
            });


            $(document).on("click",".media.school",function () {
                index = $('.media.school').index($(this));
                schools[index].setAnimation(google.maps.Animation.BOUNCE);
                map.setCenter(schools[index].getPosition());
                if (selected != -1){
                    schools[selected].setAnimation(null);
                }
                selected = index;
            });

            function initialize() {
                var mapOptions = {
                    center: {lat: 36.7948624, lng: 10.0732374},
                    zoom: 12
                };

                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                for (var i = 0; i < schools.length; i++) {
                    var marker = new google.maps.Marker({
                        position: schools[i],
                        animation: google.maps.Animation.BOUNCE,
                        map: map
                    });
                }

                var defaultBounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(-33.8902, 151.1759),
                    new google.maps.LatLng(-33.8474, 151.2631));

                var input = document.getElementById('searchbox');
                var options = {
                    bounds: defaultBounds,
                    types: ['geocode'],
                    componentRestrictions: {country: 'tn'}
                };

                autocomplete = new google.maps.places.Autocomplete(input, options);
            }
        </script>
    {% endblock %}