<div>
    {% for school in schools %}
        <div class="media courseList couresListPage school">
            <a class="media-left border-color-1 text-center" href="" style="width: 20%;">
                <img class="media-object" style="padding: 20px 10px" src="{{ asset('img/school-default.png') }}"
                     alt="Image">
            </a>
            <div class="media-body">
                <h3 class="media-heading"><a style="overflow: visible; margin-bottom: 5px" href=""
                                             class="color-1">{{ school.name }}</a></h3>
                <ul class="list" style="padding-bottom: 10px">
                    <li><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ school.address }}</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> {{ school.phone }}</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ school.mail }}</li>
                </ul>
                <ul class="list-inline btn-yellow btnPart">
                </ul>
                <ul style="display: none">
                    <li class="school-lat">{{ school.lat }}</li>
                    <li class="school-lng">{{ school.lng }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>