{% extends "UserBundle:Admin:layout.html.twig" %}
{% block title %}Ajout d'une catégorie de réclamations{% endblock %}

    {% block main %}
        <div class="row">
            <div >
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Ajouter une catégorie</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group row">
                            <div class="col-sm-2 control-label">
                                {{ form_label(form.name, 'Categorie') }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <button class="btn btn-secondary " >Ajouter</button>
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}

