<div class="row">
    <div class="col-md-4">
        <img src="{{ asset(cartoon.photo.webPath) }}" class="img-responsive">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="episode-title">{{ cartoon.name }}</h2>
                <h4>Nombre d'episodes : {{ cartoon.episodesCnt }}</h4>
                <h4>Resumé :</h4>
                <p class="margin-bottom">{{ cartoon.summary }}</p>
            </div>
        </div>

        {% for row in episodes | batch(4) %}
            <div class="row">
                {% for episode in row %}
                    <div class="col-md-3">
                        <a class="btn btn-outline-info play-episode" style="background:#FFF;" data-id="{{ episode.id }}">
                            <span>Episode : {{ loop.index }}</span> <i class="fa fa-play pull-right"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div tabindex="-1" class="modal fade in" id="video-wrapper" role="dialog" aria-labelledby="video-wrapper">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close-episode" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body text-center">
                <iframe src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>