{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/owl-carousel/owl.carousel.css') }}" media="screen">
{% endblock %}

{% block main %}

    <section class="bannercontainer bannercontainerV1">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <img src="{{ asset('img/home/slider/slider-1.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="slider-caption container">
                            <div class="tp-caption rs-caption-1 sft start"
                                 data-hoffset="0"
                                 data-y="200"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                 Meilleur site occupé de l'enfant
                            </div>

                            <div class="tp-caption rs-caption-2 sft"
                                 data-hoffset="0"
                                 data-y="265"
                                 data-speed="1000"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                 Vou trouvez tous ce que vous et votre enfant avez besoin.
                            </div>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <img src="{{ asset('img/home/slider/slider-2.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="slider-caption container">
                            <div class="tp-caption rs-caption-1 sft start text-center"
                                 data-hoffset="0"
                                 data-x="center"
                                 data-y="200"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                Shopping
                            </div>

                            <div class="tp-caption rs-caption-2 sft text-center"
                                 data-hoffset="0"
                                 data-x="center"
                                 data-y="265"
                                 data-speed="1000"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                Acheter les vêtements et les accessoirs de votre enfant en toute facilité
                            </div>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                        <img src="{{ asset('img/home/slider/slider-3.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="slider-caption container">
                            <div class="tp-caption rs-caption-1 sft start text-right"
                                 data-hoffset="0"
                                 data-y="200"
                                 data-x="right"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                Contrôle Parental
                            </div>

                            <div class="tp-caption rs-caption-2 sft text-right"
                                 data-hoffset="0"
                                 data-y="265"
                                 data-x="right"
                                 data-speed="1000"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                Suivez le progrés de votre enfant dans nos cours et lorsqu'il joue
                            </div>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <img src="{{ asset('img/home/slider/slider-4.jpg') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="slider-caption container">
                            <div class="tp-caption rs-caption-1 sft start text-center"
                                 data-hoffset="0"
                                 data-x="center"
                                 data-y="200"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                Aide et assistance
                            </div>

                            <div class="tp-caption rs-caption-2 sft text-center"
                                 data-hoffset="0"
                                 data-x="center"
                                 data-y="265"
                                 data-speed="1000"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                Trouvez les meilleurs articles et conseils de parentalité
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="clearfix linkSection hidden-xs">
        <div class="sectionLinkArea hidden-xs scrolling">
            <div class="container">&
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#ourCourses" class="sectionLink bg-color-1" id="coursesLink">
                            <i class="fa fa-book linkIcon border-color-1" aria-hidden="true"></i>
                            <span class="linkText">Education</span>
                            <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#ourTeam" class="sectionLink bg-color-2" id="teamLink">
                            <i class="fa fa-shopping-cart linkIcon border-color-2" aria-hidden="true"></i>
                            <span class="linkText">Shopping</span>
                            <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#ourGallery" class="sectionLink bg-color-3" id="galleryLink">
                            <i class="fa fa-gamepad linkIcon border-color-3" aria-hidden="true"></i>
                            <span class="linkText">Divertissement</span>
                            <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#latestNews" class="sectionLink bg-color-4" id="newsLink">
                            <i class="fa fa-users linkIcon border-color-4" aria-hidden="true"></i>
                            <span class="linkText">Assistance</span>
                            <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mainContent full-width clearfix featureSection">
        <div class="container">
            <div class="sectionTitle text-center">
                <h2>
                    <span class="shape shape-left bg-color-4"></span>
                    <span>Nos occupations</span>
                    <span class="shape shape-right bg-color-4"></span>
                </h2>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-1">
                            <i class="fa fa-graduation-cap bg-color-1" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-1">Experience Teachers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-2">
                          <i class="fa fa-leaf bg-color-2" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-2">Physical Activity</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-3">
                          <i class="fa fa-car bg-color-3" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-3">Physical Activity</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-4">
                          <i class="fa fa-cutlery bg-color-4" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-4">Delicious Food</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-5">
                          <i class="fa fa-heart bg-color-5" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-5">Love &amp; Care</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media featuresContent">
                        <span class="media-left bg-color-6">
                          <i class="fa fa-shield bg-color-6" aria-hidden="true"></i>
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading color-6">Meny Sports</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/owl-carousel/owl.carousel.js')}}"></script>
    <script src="{{ asset('plugins/counter-up/jquery.counterup.min.js')}}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
{% endblock %}